
<!--
<div class="container mt-5">

    <div class="table-wrapper mat-elevation-z8 row">
    -->

        <!--
        matSortDirection="asc"
        matSortActive="created"
        -->

        <mat-table [dataSource]="items" matSort matSortDisableClear>

            <!-- ID Column -->
            <ng-container [matColumnDef]="column.columnName" *ngFor="let column of _columns">
                <mat-header-cell *matHeaderCellDef mat-sort-header
                                 [disabled]="!column.sort"
                                 [ngStyle]="column.style">
                    {{ column.label }}
                </mat-header-cell>

                <mat-cell *matCellDef="let row" [ngStyle]="column.style" [ngClass]="{'column-link': column.link}">
                    <ng-container *ngIf="column.hasCustomTemplate; else defaultCell">
                        <ng-container *ngTemplateOutlet="column.template.cell.template; context: {$implicit: row}"></ng-container>
                    </ng-container>

                    <ng-template #defaultCell>
                        {{ getValue(row, column.columnName) }}
                    </ng-template>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClick(row, $event)"></mat-row>
        </mat-table>

        <mat-paginator [length]="itemsLength"
                       [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>

<!--
    </div>

</div>
-->
