.table-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    overflow: auto;

    .mat-table {
        overflow: auto;

        .cdk-column-id {
            max-width: 64px;
            justify-content: flex-end;
            padding: 0 24px;
        }

    }
}

.column-link {
    cursor: pointer;
}

.cdk-column-select {
    max-width: 64px;
}

.selections-info {
    padding-left: 24px;
}

.select-all {
    color: #039be5;
    cursor: pointer;
    margin-left: 10px;
}
